[Desktop Entry]
Type=Application
Name=XPRS
GenericName=Offgrid wapp launcher
Comment=XPRS — offgrid communication and wapp launcher
Exec=aurora
Icon=xprs
Terminal=false
Categories=Network;Chat;
StartupWMClass=radio.xprs.app
Keywords=xprs;xprs;aurora;mesh;reticulum;aprs;offgrid;
